* {
    text-decoration: none;
}

body {
    font: 16px/28px 'Microsoft YaHei';
}

h1 {
    font-weight: normal;
    text-align: center;
}

.top_text {
    text-align: center;
    color: #888;
}

.img {
    text-align: center;
}

p {
    text-indent: 2em;
}

.search {
    color: #888;
}

.footer{
    color: #888;
    font-size: 12px;
}