@font-face {
  font-family: "iconfont"; /* Project id 3368709 */
  src: url('iconfont.woff2?t=1651221506831') format('woff2'),
       url('iconfont.woff?t=1651221506831') format('woff'),
       url('iconfont.ttf?t=1651221506831') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-aircraft:before {
  content: "\e664";
}

.icon-icon-arrow-double-up:before {
  content: "\e665";
}

.icon-icon-more:before {
  content: "\e674";
}

.icon-icon-menu:before {
  content: "\e675";
}

.icon-icon-verificationcode:before {
  content: "\e688";
}

