* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

body {
    height: 100%;
    background-color: aliceblue !important;
}

.left-side {
    position: fixed;
    width: 240px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #e6e8e8;
}

.logo-part {
    color: #0070E0 !important;
    width: 100%;
    font-weight: 800;
    font-size: 22px;
    display: block;
    text-align: center;
    line-height: 30px;
    padding: 40px 40px 11px;
}

.sidebar {
    margin-top: 20px;
    height: 100%;
    color: #3d464c;
}

.sidebar a {
    color: #3d464c;
}

.sidebar ul li {
    height: 50px;
    font-size: 18px;
    padding: 9px 64px;
    margin-top: 10px;
}

.banquan {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    left: 20%;
}

.iconfont {
    font-size: 18px;
    margin-right: 10px;
}

.right-side {
    height: 100%;
    background-color: aliceblue;
    margin-left: 240px;
}

.upbacknav {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #e6e8e8;
    box-shadow: 0px -3px 5px 0px rgb(76 172 255 / 20%);
}

.mes {
    position: absolute;
    right: 0px;
    margin: 10px 70px 10px 0px;
}

.userImg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#mains{
    display: inline-block;
    margin-top: 120px;
    margin-left: 20px;
}

#bin1 {
    display: inline-block;
    margin-top: 120px;
    margin-left: 20px;
}